.btn {
  background-color: rgb(68, 183, 241);
}

#charity-display {
  background-color: lightgreen;
}

.hidden {
	display: none;
}

input {
  width: 250px;
}

.jumbotron {
  text-align: center;
}

#searchFormContainer {
  background-color: rgb(68, 183, 241);
}

#search-image {
  height: 500px;
  width: 500px;
}