#charity-display {
  background-color: lightgreen;
}

.hidden {
	display: none;
}

input {
  width: 250px;
}

.jumbotron {
  text-align: center;
}

#searchFormContainer {
  background-color: lightblue;
}

#search-image {
  height: 500px;
  margin: auto;
  width: 500px;
}